<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}

{{ if not .Site.Params.OpenGraph.hide }}
<meta name="og:site_name" content="{{ .Site.Title }}">
<meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="og:url" content="{{ .Permalink }}">
<meta name="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}">
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" />
<meta name="twitter:card" content="" />
{{ end }}
<link rel="canonical" href="{{ .Permalink }}"/>
<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.png">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/flexboxgrid.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
